.video__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 18px;
}

@media (max-width: 1279px) {
    .video__container {
        grid-column-gap: 16px;
    }
}

@media (max-width: 767px) {
    .video__container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-row-gap: 8px;
    }
}