.page__footer {
    margin-left: auto;
    margin-right: auto;
    padding: 0 16px;
}

@media (min-width: 768px) {
    .page__footer {
        padding: 0 23px;
    }
}

@media (min-width: 1024px) {
    .page__footer {
        padding: 0 48px;
    }
}