.intro__title {
    margin: 0;
    margin-bottom: 48px;
    font-weight: 900;
    font-size: 3.375rem;
    line-height: 1.0926;
}

@media (max-width: 767px) {
    .intro__title {
        margin-bottom: 32px;
        font-size: 2rem;
        line-height: 1.0938;
    }
}