.cover__subtitle{
    margin: 0 auto;
    font-size: 0.875rem;
    line-height: 1.2143;
    text-align: center;
}



@media (min-width: 375px) {
    .cover__subtitle {
        max-width: 343px;
    }
}

@media (min-width: 768px) {
    .cover__subtitle {
        max-width: 382px;
        font-size: 1.125rem;
        line-height: 1.4444;
    }
}

@media (min-width: 768px) {
    .cover__subtitle {
        max-width: 413px;
    }
}

@media (min-width: 1280px) {
    .cover__subtitle {
        max-width: 382px;
    }
}