@import url('./__image/comment__image.css');
@import url('./__quote/comment__quote.css');
@import url('./__author/comment__author.css');

.comment {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 1rem;
    font-family: 'Inter', Arial, sans-serif;
}

@media (min-width: 1024px) {
    .comment {
        align-items: flex-start;
    }
}