.cover__title{
    max-width: 250px;
    margin: 0 auto;
    margin-bottom: 7px;
    font-weight: 900;
    font-size: 2rem;
    line-height: 1.0938;
    text-align: center;
}

@media (min-width: 768px) {
    .cover__title {
        max-width: 550px;
        margin-bottom: 45px;
        font-size: 4.5rem;
        line-height: 1.0833;
    }
}

@media (min-width: 1024px) {
    .cover__title {
        margin-bottom: 60px;
    }
}

@media (min-width: 1280px) {
    .cover__title {
        max-width: none;
        margin-bottom: 134px;
    }
}