.place__paragraph {
    font-size: 1.125em;
    line-height: 1.6667;
    margin: 0;
}

.place__paragraph:first-child {
    margin-bottom: 36px;
}

.place__paragraph:last-child {
    margin: 0;
}

@media (max-width: 1023px) {
    .place__paragraph {
        font-size: 1em;
        line-height: 1.6875;
    }
}

@media (max-width: 767px) {
    .place__paragraph {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media (max-width: 1279px) {
    .place__paragraph:first-child {
        margin-bottom: 24px;
    }
    .place__paragraph:last-child {
        margin: 0;
    }
}