.page__lead {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    padding: 0 48px;
}

@media (max-width: 1023px) {
    .page__lead {
        padding: 0;
    }
}

@media (max-width: 767px) {
    .page__lead {
        margin-bottom: 64px;
    }
}